<img class="Background" src="./../../assets/fondo.PNG" alt="">
<aside class="Follows">
    <div class="follows-Title">
        <h2>Emprendedores</h2>
    </div>
    <div class="follows-List">
        <ol>
            <li><a href="">Artesanía</a></li>
            <li><a href="">Artesanía</a></li>
            <li><a href="">Artesanía</a></li>
            <li><a href="">Artesanía</a></li>
            <li><a href="">Artesanía</a></li>
        </ol>
    </div>
    <div class="follows-Title">
        <h2>Mentores</h2>
    </div>
    <div class="follows-List">
        <ol>
            <li><a href="">José Gerardo Marquez</a></li>
        </ol>
    </div>
</aside>
<div class="body-home">
    <a href="/Postview" class="ContainerPost">
        <div>
            <div class="Photo-perfil">
                <div>
                    <img src="./../../assets/ImageProfile.jpg" alt="">
                </div>
                <h3>Sergio Andres Calderon Osorio</h3>
            </div>
            
        </div>
        <div class="img-post">
            <img id="ImagenLoad" src="./../../assets/4439e565f60816fcb07ebfe67a231d556c101093c39d300210ad4535d6a14707.jpg" alt="">
        </div>
        <div class="description-post">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Similique doloremque maxime obcaecati quidem sapiente quas dolore tenetur quae qui 
            dolorum minus sit dignissimos praesentium dolores est, aut consequatur id mollitia.</p>
        </div>
    </a>
    <a href="/Postview" class="ContainerPost">
        <div>
            <div class="Photo-perfil">
                <div>
                    <img src="./../../assets/ImageProfile.jpg" alt="">
                </div>
                <h3>Sergio Andres Calderon Osorio</h3>
            </div>
            
        </div>
        <div class="img-post">
            <img id="ImagenLoad" src="" alt="">
        </div>
        <div class="description-post">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Similique doloremque maxime obcaecati quidem sapiente quas dolore tenetur quae qui 
            dolorum minus sit dignissimos praesentium dolores est, aut consequatur id mollitia.</p>
        </div>
    </a>
    <a href="/Postview" class="ContainerPost">
        <div>
            <div class="Photo-perfil">
                <div>
                    <img src="./../../assets/ImageProfile.jpg" alt="">
                </div>
                <h3>Sergio Andres Calderon Osorio</h3>
            </div>
            
        </div>
        <div class="img-post">
            <img id="ImagenLoad" src="./../../assets/4439e565f60816fcb07ebfe67a231d556c101093c39d300210ad4535d6a14707.jpg" alt="">
        </div>
        <div class="description-post">
            <h2>Title</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Similique doloremque maxime obcaecati quidem sapiente quas dolore tenetur quae qui 
            dolorum minus sit dignissimos praesentium dolores est, aut consequatur id mollitia.</p>
        </div>
    </a>
</div>
