<style>
    .material-symbols-outlined {
        cursor: pointer;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
    }
    </style>
<div class="containerPost">
    <img class="Background" src="./../../assets/fondo.PNG" alt="">
    <div class="imgPost">
        <img src="./../../assets/4439e565f60816fcb07ebfe67a231d556c101093c39d300210ad4535d6a14707.jpg" alt="">
    </div>
    <div class="bodyPost">
        <div class="body">
            <div  class="Photo-perfil">
                <div>
                    <img src="./../../assets/ImageProfile.jpg" alt="">
                </div>
                <a href="/Profile">Sergio Andres Calderon Osorio</a>
            </div>
            <div class="titlePost">
                <h2>Title</h2>
            </div>
            <div class="DescriptionPost">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Et necessitatibus sed iusto obcaecati quis dolore inventore 
                    ratione. Veritatis magnam ullam, eveniet eligendi minima 
                    laudantium voluptatum odit provident similique, maxime voluptatibus!
                    Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Et necessitatibus sed iusto obcaecati quis dolore inventore 
                    ratione. Veritatis magnam ullam, eveniet eligendi minima 
                    laudantium voluptatum odit provident similique, maxime voluptatibus!
                    Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Et necessitatibus sed iusto obcaecati quis dolore inventore 
                    ratione. Veritatis magnam ullam, eveniet eligendi minima 
                    laudantium voluptatum odit provident similique, maxime voluptatibus!
                    Lorem, ipsum dolor sit amet consectetur adipisicing
                    elit. Et necessitatibus sed iusto obcaecati quis dolore inventore 
                    ratione. Veritatis magnam ullam, eveniet eligendi minima 
                    laudantium voluptatum odit provident similique, maxime voluptatibus!
                </p>
            </div>
            <div class="Likes">
                <p id="likeIcon" (click)="Likeit()" class="material-symbols-outlined">
                    favorite
                </p>
                <p class="NumberLikes">25</p>
            </div>
            <div class="comments">
                <form class="inputsComment">
                    <textarea  cols="30" rows="10" placeholder="¡Escribe un comentario!"></textarea>
                    <button>Comentar</button>
                </form>
                <div class="anyComment">
                    <div class="userComment">
                        <div class="Photo-perfil">
                            <div>
                                <img src="./../../assets/ImageProfile.jpg" alt="">
                            </div>
                            <a href="./Profile">Sergio Andres Calderon Osorio</a>
                        </div>
                        <p>Me antoje</p>
                    </div>
                    <div class="userComment">
                        <div class="Photo-perfil">
                            <div>
                                <img src="./../../assets/ImageProfile.jpg" alt="">
                            </div>
                            <a href="./Profile">Sergio Andres Calderon Osorio</a>
                        </div>
                        <p>Me antoje</p>
                    </div>
                    <div class="userComment">
                        <div class="Photo-perfil">
                            <div>
                                <img src="./../../assets/ImageProfile.jpg" alt="">
                            </div>
                            <a href="./Profile">Sergio Andres Calderon Osorio</a>
                        </div>
                        <p>Me antoje</p>
                    </div>
                    <div class="userComment">
                        <div class="Photo-perfil">
                            <div>
                                <img src="./../../assets/ImageProfile.jpg" alt="">
                            </div>
                            <a href="./Profile">Sergio Andres Calderon Osorio</a>
                        </div>
                        <p>Me antoje</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>