<div class="body">
    <section class="wave-topside">
        <div class="waveside wave1"></div>
        <div class="waveside wave2"></div>
        <div class="waveside wave3"></div>
        <div class="waveside wave4"></div>
    </section>
    <section class="inputs-forget">
        <div class="description">
            <h2>¡Si eres tú!</h2>
            <p>Ya que confirmamos que eres tú <br>
                Ahora sólo hay que escribir una nueva contraseña</p>
            <form class="input" action="">
                <input placeholder="Nueva contraseña" type="text">
                <input placeholder="Confirma nueva contraseña" type="text">
                <button class="Send">Cambiar</button>
            </form>
        </div>
    </section>
    <section class="wave-bottomside">
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
    </section>
    </div>